*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 500px;
    height: 480px;
    padding-top: 30px;
    background: url(images/Counterbackground.jpg);
    margin: auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.counter-holder{
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border: solid 1px #fff;
    border-radius: 2px;
    background: url(images/Counterbackground.jpg);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

#counterHolder{
    font-size: 150px;
    color: green;
    margin-bottom: 20px;
}

button{
    margin-bottom: 10px;
    background-color: rgba(10, 2, 53);
    border-radius: 5px;
    border: none;
    columns: #fff;
    text-transform: uppercase;
}

button:hover{
    background-color: rgb(21, 77, 230);
}

#decrement{
    width: 120px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

#increment{
    width: 100px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}